$primary: #0a1430;
$secondary: #c70039;
$text: #3c3c3b;
$gradient1: #2a52be;
$gradient2: #0d0872;
$comment: #1677f1;
$dark: #050a18;
$darkGrey:  #808080;
$lightgrey: #f6f6f6;
$white: #fff;
$black: #000;
